* {
    font-family: Arial, Helvetica, sans-serif;
}

.blue {
    color:dodgerblue;
    font-size:x-large;
}

.mainContainer p {
    padding: 0.2 rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.mainContainer p:hover {
    cursor:pointer;
}

.selected {
    color: red;
}